body {
  background: rgb(4,44,61);
  background: radial-gradient(circle, rgba(4,44,61,1) 51%, rgba(23,16,16,1) 100%, rgba(0,212,255,1) 100%);
  color: antiquewhite !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.alert {
  color: #222 !important;
}
